
$bg-color: #f8f1e7;
$primary: #2c3e50;
$accent: #a93226;
$font-main: "Playfair Display", serif;

@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}



html, body { height: 100dvh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background-color: $bg-color ;}

